<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/estilo.css">
</head>
<body>
    <div class="principal">
        <form method="POST">
            <label for="f">Digite a função:</label>
            <input type="text" name="f" id="f"><br>
            <label for="limite_inf">Digite o limite inferior:</label>
            <input type="text" name="limite_inf" id="limite_inf"><br>
            <label for="limite_sup">Digite o limite superior:</label>
            <input type="text" name="limite_sup" id="limite_sup"><br>
            <label for="n">Digite o valor de n:</label>
            <input type="text" name="n" id="n"><br>
            <input type="submit" value="calcular integral">
        </form>
    </div>
    
</body>
</html>